
.container-custom{
    width: 150vh;
    margin-top: 3vh;
    margin-left: 23vh;
}
.modal__dialog {
    background: #ddd;
    padding: 10px;
    width: 90vh;
    height: 80vh;
    border-radius: 8px;
}

.modal-open  {
    display: grid;
}

.dimen-modal{
    width: 80vh;
}

.h3-up{
    margin-top: -5vh;
    margin-left: 36%;
}